.devise.signup-done
  = render "devise/shared/header"
  .deviseSection
    .inner
      %h2.title 会員登録完了
      .deviseForm
        .new_user
          %p.new_user__text ありがとうございます。
          %p.new_user__text 会員登録が完了しました。
          %button.new_user__btn メルカリをはじめる
  = render "devise/shared/footer"